<div class="main w-full  flex ">
    <div class="one w-1/2 py-10  grid place-items-center">
        <div class="w-[200px] h-[200px] md:w-[300px] md:h-[300px]  object-cover overflow-hidden border-4 border-gray-600">
            <img class="" src="https://images.pexels.com/photos/17022636/pexels-photo-17022636/free-photo-of-redhead-with-freckles-wearing-makeup.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
        </div>
    </div>
    <div class="two w-1/2 py-4  grid place-items-center">
        <div class="w-[200px] h-[200px] md:w-[300px] md:h-[300px]  flex flex-col justify-center">
           <h1 class="font-bold">Learn With Us.</h1>
           <p>We are providing defferent cources in defferent topics</p>
        </div>
    </div>
</div>
