li,h1{
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
li{
    padding-left: 8px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}
.listfull{
    transform: translateX(-100%);
    opacity: 0;
    transition: .5s  ease-in-out;
}
.listfull1{
    transform: translateX(0);
    opacity:  1;
    transition: .5s  ease-in-out;
    z-index: 10;
}


@media(max-width:500px){
    .list{
        width: 100%;
    }
    .header{
        height: auto;
    }
    ul{
        gap: 2px;
    }
}
@media (max-width:768px){
    li:hover{
        background-color: rgba(151, 151, 151, 0.564);
    }
}

